
<div jarvis-widget="" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false" class="jarviswidget jarviswidget-sortable" role="widget">
    
    <!-- widget div-->
    <div role="content">
        <div class="row">
           
         
<div class="col-sm-6 col-md-6">
        <!-- widget content -->
        <div class="widget-body no-padding"><div class="jarviswidget-editbox"><input class="form-control" type="text"></div>
            <form id="order-form" class="smart-form ng-pristine ng-valid" name="addDetailsForm" novalidate>
    <header>
        Add Details
    </header>
    <br>
    <h1><strong> Education and Training</strong></h1>
  <fieldset>

      <section>
             <div class="form-group" ng-class="{ 'has-error' : addDetailsForm.first_name.$invalid && (addDetailsForm.first_name.$dirty || submitted)}">
            <label class="input"> 
           <input type="text" ng-model="aidDetails.first_name" id="first_name" class="form-control" name="first_name" placeholder="Title of the Aid"
              required>
            </label>
            <p class="validation-error" ng-show="addDetailsForm.first_name.$error.required && (addDetailsForm.first_name.$dirty || submitted)"
             class="help-block">First Name is Required.</p>
             </div>
      </section>

        <section>
               <div class="form-group" ng-class="{ 'has-error' : addDetailsForm.last_name.$invalid && (addDetailsForm.last_name.$dirty || submitted)}">
            <label class="input"> 
            <input type="text" ng-model="aidDetails.last_name" id="last_name" class="form-control" name="last_name" placeholder="Add Slogan"
                            required>
            </label>
               <p class="validation-error" ng-show="addDetailsForm.last_name.$error.required && (addDetailsForm.last_name.$dirty || submitted)"
                  class="help-block">Last Name is Required.</p>
              </div>
        </section>

        <section>
              <div class="form-group" ng-class="{ 'has-error' : addDetailsForm.email.$invalid && (addDetailsForm.email.$dirty || submitted)}">
            <label class="input">
                <input type="email" ng-model="aidDetails.email" name="email" class="form-control" placeholder="Address Line" ng-required="true"
                     ng-blur="loadmap()"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
            </label>
                     <p class="validation-error" ng-show="addDetailsForm.email.$error.required && (addDetailsForm.email.$dirty || submitted)"
                        class="help-block">Email is Required.</p>
                     <p class="validation-error" ng-show="addDetailsForm.email.$error.pattern && (addDetailsForm.email.$dirty || submitted)"
                        class="help-block">Please Enter Valid Email Id.</p>
                    </div>
        </section>

 <section>
           <div id="googleMap"></div>
        </section>

  <section>
              <div class="form-group" ng-class="{ 'has-error' : addDetailsForm.email.$invalid && (addDetailsForm.email.$dirty || submitted)}">
            <label class="input">
                <input type="email" ng-model="aidDetails.email" name="email" class="form-control" placeholder="Address Line 2" ng-required="true"
                            ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
            </label>
                     <p class="validation-error" ng-show="addDetailsForm.email.$error.required && (addDetailsForm.email.$dirty || submitted)"
                        class="help-block">Email is Required.</p>
                     <p class="validation-error" ng-show="addDetailsForm.email.$error.pattern && (addDetailsForm.email.$dirty || submitted)"
                        class="help-block">Please Enter Valid Email Id.</p>
                    </div>
        </section>


  </fieldset>

    <footer>
        <button type="submit" class="btn btn-primary" ng-click="updateVendor(aidDetails)" ng-disabled="!addDetailsForm.$valid">
        Next
        </button>
           <button type="submit" class="btn btn-primary" ng-click="updateVendor(aidDetails)" ng-disabled="!addDetailsForm.$valid">
            Update
        </button>
    </footer>
</form>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<div class="col-sm-6 col-md-6">
        <div class="widget-body no-padding"><div class="jarviswidget-editbox"><input class="form-control" type="text"></div>
            <form id="order-form" class="smart-form ng-pristine ng-valid" name="addDetailsForm" novalidate>
    <header>
        Instructions
    </header>
    <br>
    <!--<h1><strong> Education and Training</strong></h1>-->
  <fieldset>

      <section>
           <textarea rows="10" cols="40" name="comment" form="usrform">
            1) Please Enter the Title Of your Aid
            2) Add Relevant Slogan to the Aid
            3) Add Proper Address
            4) You can add your local address
            
          </textarea>
      </section>
      
  </fieldset>
</form>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
</div>

    
</div>
