<div class="col-md-8">
    <div class="category-tab-pane">
        <div jarvis-widget="" id="wid-id-5" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false"
            data-widget-custombutton="false" data-widget-sortable="false" class="jarviswidget" role="widget">

            <header role="heading">
                <div class="jarviswidget-ctrls" role="menu"> </div>
                <h2>Select a Category</h2>

                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

            <!-- widget div-->
            <div role="content">

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body">
                    <div class="jarviswidget-editbox"><input class="form-control" type="text"></div>


                    <div class="tabs-left">
                        <ul class="nav nav-tabs tabs-left" id="demo-pill-nav">
                            <li ng-repeat="role in roles">
                                <a data-toggle="tab" aria-expanded="true" ng-click="setAdmin(admin,$index)" ng-class="{selected: currentAdminIndex === $index}"> {{role.role}} </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-r1">
                             
                                <ul class="categorylink">
                                    <li ng-repeat="role in roles">
                                        <a> {{role.id}} </a>
                                    </li>
                                </ul>
                              
                            </div>
                            <!--<div class="tab-pane" id="tab-r2">
                        <p>
                            Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab-r3">
                        <p>
                            Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
                        </p>
                    </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end widget content -->
        </div>
    </div>
    <!-- end widget div -->
</div>
</div>