<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Permissions']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">


        <div class="row">
            <article class="col-sm-12">
                <div ng-show="success">
                    <div class="alert alert-success fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-check"></i>
                        <strong>Success</strong>
                    </div>
                </div>
                <div ng-show="failed">
                    <div class="alert alert-danger fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-times"></i>
                        <strong>Error!</strong>
                    </div>
                </div>
                <div data-jarvis-widget id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false"
                    data-widget-color="darken">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                        <div class="widget-toolbar margin-right-10">
                            <!--<span class="widget-icon margin-right-12" ng-click="permissionAction='Add';addPermission();"> <i class="fa fa-plus fa-lg"></i> Add </span>-->
                            <span class="widget-icon margin-right-12 " ng-click="permissionAction='Save';savePermission();"> <i class="fa fa-plus fa-save"></i> Save </span>
                        </div>

                        <h2>Permission To {{role}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable='ng' dt-options="standardOptions" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Previlages</th>
                                        <th>Access</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in permission">
                                        <td>{{item.id}}</td>
                                        <td>{{item.name}}</td>
                                        <td><input type="checkbox" ng-model="item.select" ng-true-value="'true'" ng-false-value="'false'"
                                                value={{item.select}}></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>