<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Roles']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">


        <div class="row">
            <article class="col-sm-12">
                <div ng-show="success">
                    <div class="alert alert-success fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-check"></i>
                        <strong>Success</strong>
                    </div>
                </div>
                <div ng-show="failed">
                    <div class="alert alert-danger fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-times"></i>
                        <strong>Error!</strong>
                    </div>
                </div>

                <div data-jarvis-widget id="standard-datatable-widget" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false"
                    data-widget-color="darken">
                    <!--<div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false" data-widget-color="darken">-->
                    <header>
                        <span class="widget-icon"></span>
                        <h2>Role Management</h2>
                        <div class="widget-toolbar margin-right-10 widget-width">
                            <span class="widget-icon margin-right-10 addbutton" ng-click="roleAction='Add';addRole();"> <i class="fa fa-plus fa-lg"></i> Add </span>
                            <span class="widget-icon margin-right-10 editbutton" ng-click="roleAction='Edit';editRole();"> <i class="fa fa-pencil-square-o"></i> Edit </span>
                            <span class="widget-icon margin-right-10" ng-click="deleteRole();"> <i class="fa fa-trash-o fa-lg"></i> Delete </span>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable='ng' dt-options="standardOptions" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>

                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="role in roles" ng-click="setRole(role,$index)" ng-class="{selected: currentRoleIndex === $index}">

                                        <td>{{role.role}}</td>
                                        <td><span class="btn btn-primary btn-sm" ng-click="access(role,$id)" ng-class="selected:currentRoleIndex==$id">Permission</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="modal fade" id="addRolePopup" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog edp-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">{{roleAction}} Role</h4>
                    </div>
                    <div class="modal-body">
                        <form class="smart-form ng-pristine ng-valid">
                            <fieldset>
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3">{{getWord('Role Name')}} </label>
                                    <section class="col-sm-9 col-md-9">
                                        <input type="text " class="form-control" ng-model="newRole.role ">
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="submit(newRole);">Submit</button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="cancel();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteRolePopup" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog edp-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">{{roleAction}} Role</h4>
                    </div>
                    <div class="modal-body">
                        <form class="smart-form ng-pristine ng-valid">
                            <fieldset>
                                <h5>Do you really want to Delete {{currentRole.role}} ?</h5>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" ng-click="roleDelete();">Yes</button>
                        <button class="btn btn-default" ng-click="cancel();">No</button> </div>
                </div>
            </div>
        </div>
        </article>
</div>
</section>
</div>