<html>
<body>
{{obj}}
<form id="update" action="/topic/update/{{obj.id_count}}/" method="POST" enctype="multipart/form-data">{% csrf_token %}
first name:<input type="text" name="firstname" value={{obj.firstname}}>
Lastname:<input type="text" name="lastname" value={{obj.lastname}} >
Image:<input type="file" name="image"value={{obj.image}} >
<input type="submit" value="submit">
</form>
</body>
</html>
