<html>
<title>Registration</title>
<body bgcolor="orange">

<a href='/topic/export/ onclick="return confirm('Are you sure you want to export this item?');"> <button type="button" class="btn btn-primary">Export</button></a>


{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}><div class="alert alert-success">{{ message }}</div></div>
    {% endfor %}
</div>
{% endif %}
<form method="POST" action="/topic/register_data/" enctype="multipart/form-data">{% csrf_token %}
<input type="text" name="firstname"data-validation="required"  data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)"><br><br><br>
<input type="text" name="lastname" data-validation="required"  data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)"><br><br>
<input type="file" name="image" data-validation="required"  data-validation-error-msg="Please upload the image"><br><br>
<!--<a href="/media/csv/aniket.csv">Download Sample File To Import</a><br>
upload csv :<input type="file" name="csv" id="csv" data-validation="required"  data-validation-error-msg="Please upload the csv file">-->

<h1> topic data</h1>

name<input type="text" name="name" id="name"><br><br><br>
passsowd<input type="text" name="password " id="password" ><br><br>
<input type="submit" class="btn btn-primary" name="submit">
</form>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
  $.validate({
    lang: 'es'
  });
</script>
</body>
</html>
