<p>DATED [insert date]</p>

<table>
	<tbody>
		<tr>
			<td>
			<p>and</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>non-disclosure AGREEMEN1</p>

<table>
	<tbody>
		<tr>
			<td colspan="2">
			<p>THIS AGREEMENT dated</p>
			</td>
			<td>
			<p>[insert date]</p>
			</td>
			<td>
			<p>is made BETWEEN:-&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<ol>
				<li>&nbsp;</li>
			</ol>
			</td>
			<td colspan="3">
			<p>(CN [insert company number]) whose registered office is at [insert address of registered office] (&ldquo;ABC&rdquo;); and</p>
			</td>
		</tr>
		<tr>
			<td>
			<ol>
				<li>&nbsp;</li>
			</ol>
			</td>
			<td colspan="3">
			<p>(CN [insert company number]) whose registered office is at [insert address of registered office] (&ldquo;DEF&rdquo;)</p>
			</td>
		</tr>
	</tbody>
</table>

<p>BACKGROUND</p>

<table>
	<thead>
		<tr>
			<th>
			<p>(A)</p>
			</th>
			<th>
			<p>The parties intend to enter into discussions relating to the &ldquo;Purpose&rdquo; (as defined below), and this has included and will include the mutual disclosure of information of material value which is confidential and proprietary.</p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			<p>(B)</p>
			</td>
			<td>
			<p>Accordingly, each party is willing to disclose information in connection with the &ldquo;Purpose&rdquo;, subject to this Agreement.</p>
			</td>
		</tr>
	</tbody>
</table>

<p>IT IS AGREED as follows:</p>

<ol>
	<li>interpretation</li>
	<li>Definitions and principles
	<ul>
		<li>
		<ol>
			<li>Certain words and expressions used in and principles of interpretation applicable to this Agreement are defined or set out in Schedule I (Interpretation).</li>
			<li>The Schedules&nbsp;form part of this Agreement and any reference to this Agreement includes the Schedules.&nbsp;</li>
		</ol>
		</li>
	</ul>
	</li>
	<li>Conflicts</li>
</ol>

<p>If there is a conflict or inconsistency between any provision contained in the body of this Agreement and any provision contained in a Schedule, except where provided to the contrary in the former, the former prevails to the extent of the conflict or inconsistency.</p>

<ol>
	<li>duration</li>
</ol>

<p>This Agreement begins on the Commencement Date, continues until the parties cease discussions in relation to the &ldquo;Purpose&rdquo;, and thereafter for ten (10) years; subject to any agreement to the contrary in writing binding upon a party, each party may at any time cease participating in discussions relating to the &ldquo;Purpose&rdquo;.</p>

<ol>
	<li>scope</li>
	<li>Confidential Information
	<ul>
		<li>
		<ol>
			<li>Subject to the following provisions of this Clause 6 (Confidential Information), &ldquo;Confidential Information&rdquo; comprises the fact of and the terms of this Agreement, the &ldquo;Purpose&rdquo;, and, as disclosed to or otherwise received by the Recipient pursuant to this Agreement (whether orally or in documentary, electronic or other form), all information of the kind described in Schedule D (Description of Information), and information relating to the business or customers of the Disclosing Party or its Affiliates, including all (if any) information of that nature held as of the Commencement Date.</li>
			<li>Confidential Information does not include information which:
			<ol>
				<li>is already in the possession of the Recipient or its Affiliates free of any duty of confidentiality on the date of disclosure;</li>
				<li>is in the public domain, other than as a result of a breach of this Agreement; or</li>
				<li>has been developed independently by the Recipient without reference to any information it has received under this Agreement.</li>
			</ol>
			</li>
			<li>Receipt of information for the purposes of this Agreement includes where the information is observed by, or otherwise comes into the possession of, a person, whether or not following the deliberate disclosure of it by the Disclosing Party.</li>
		</ol>
		</li>
	</ul>
	</li>
	<li>Degree of disclosure of Confidential Information</li>
</ol>

<p>The extent and nature of Confidential Information to be disclosed may be determined by the Disclosing Party in its discretion, and shall be subject to the terms of any licence or other agreement governing the use or disclosure of the Confidential Information.</p>

<ol>
	<li>Intellectual Property Rights</li>
</ol>

<p>Each party acknowledges and confirms that the Disclosing Party retains all intellectual property rights subsisting in or relating to its Confidential Information, and all rights are reserved.</p>

<ol>
	<li>No wider relationship
	<ul>
		<li>
		<ol>
			<li>Each party acknowledges and confirms that nothing in the Confidential Information, nor its disclosure in connection with the Purpose, from time to time constitutes an offer by a party for the purpose of forming any contract.</li>
			<li>No party makes any representation, gives any assurance, warranty or undertaking, nor accepts any responsibility or liability in respect of, the quality, accuracy or completeness of, Confidential Information.</li>
			<li>A party is responsible for its evaluation of Confidential Information, and the Disclosing Party accepts no responsibility for, and hereby excludes all liability for all loss, damage, cost and expense incurred or sustained by the Recipient as a result of, any use of or reliance on Confidential Information.</li>
		</ol>
		</li>
	</ul>
	</li>
	<li>undertakings</li>
	<li>Confidentiality
	<ul>
		<li>
		<ol>
			<li>Subject to Clause 11.1.2, each party undertakes in relation to the Confidential Information of the other:
			<ol>
				<li>to keep the Confidential Information confidential;</li>
				<li>not to disclose the Confidential Information except to its Representatives and employees in accordance with Clause 13 (Disclosures), and then in each case only to the extent the relevant person needs to know the Confidential Information for the Purpose; and</li>
				<li>not to use Confidential Information except for the Purpose.</li>
			</ol>
			</li>
			<li>Confidential Information may be disclosed:
			<ol>
				<li>pursuant to applicable law or regulation, the requirement of a competent authority, or the rules of any recognised exchange on which the securities of a party are or are to be listed;</li>
				<li>in connection with proceedings before a court of competent jurisdiction or under any court order; or</li>
				<li>for the purpose of obtaining legal advice,</li>
			</ol>
			</li>
		</ol>
		</li>
	</ul>
	</li>
</ol>

<p>but only to the extent necessary to comply with the applicable requirement or for the particular purpose (as appropriate).</p>

<ol>
	<li>Security</li>
</ol>

<p>The Recipient shall:</p>

<ul>
	<li>
	<ul>
		<li>
		<ol>
			<li>keep Confidential Information, all information which is based on Confidential Information, and all copies, separate from documents and other records at its premises and in secure storage;</li>
			<li>take reasonable care when electronically storing information covered by this agreement; and</li>
			<li>procure that a record is made of the location of each item or copy of Confidential Information which is in documentary or other tangible form, and make the record available for inspection by the Disclosing Party on request.</li>
		</ol>
		</li>
	</ul>
	</li>
</ul>

<ol>
	<li>Disclosures
	<ul>
		<li>
		<ol>
			<li>The Recipient shall ensure that its employees and Representatives to whom Confidential Information is to be disclosed are made aware of its obligations under this Agreement prior to the disclosure being made, and shall procure that each person to whom Confidential Information is to be disclosed undertakes in writing to the Disclosing Party in the form the Disclosing Party may require (acting reasonably) to comply with this Agreement as it applies to the Confidential Information of the Disclosing Party.</li>
			<li>Where a proposed disclosure of Confidential Information is in connection with proceedings or a court order, the Recipient shall:
			<ol>
				<li>immediately notify the Disclosing Party in writing, giving reasonable details of the requirement to disclose the Confidential Information;</li>
				<li>take all available steps to resist or avoid the requirement, including steps that the Disclosing Party may reasonably request; and</li>
				<li>keep the Disclosing Party fully and promptly informed of all matters and developments which have, or may reasonably be expected to have, a bearing or influence on its decisions relating to, or concerning, its Confidential Information.&nbsp;</li>
			</ol>
			</li>
			<li>Where a proposed disclosure of Confidential Information is to be made pursuant to applicable law or regulation or requirement of a competent authority, or the rules of any recognised exchange on which the securities of a party are or are to be listed:
			<ol>
				<li>the Recipient shall disclose the minimum amount of information consistent with satisfying an obligation to disclose only;</li>
				<li>prior to disclosing the Confidential Information, the Recipient shall:
				<ol>
					<li>give written notice to the Disclosing Party together with a copy of the proposed disclosure; and</li>
					<li>take into account any reasonable comments which the Disclosing Party may have in relation to the contents of the proposed disclosure and any associated announcement.</li>
				</ol>
				</li>
			</ol>
			</li>
			<li>Each party agrees (except to the extent prohibited or restricted by law or regulation) to inform the other upon becoming aware that Confidential Information has been disclosed without authorisation, whether or not in breach of this Agreement.</li>
		</ol>
		</li>
	</ul>
	</li>
	<li>Delivery-up</li>
</ol>

<p>The Recipient shall, and shall procure that its Representatives shall, upon demand:</p>

<ul>
	<li>
	<ul>
		<li>
		<ol>
			<li>return Confidential Information and all copies, and documents or materials which incorporate Confidential Information;</li>
			<li>cleanse Confidential Information from any system into or on which it is stored or running; and</li>
			<li>destroy all notes, analyses or memoranda containing or referring to Confidential Information,</li>
		</ol>
		</li>
	</ul>
	</li>
</ul>

<p>and provide to the Disclosing Party a certificate of a director of the Recipient and of its Representative confirming that to the best of his or her knowledge, information and belief, having made all proper enquiries, the provisions of this Clause 14 (Delivery-up) have been discharged.</p>

<ol>
	<li>Points of contact</li>
</ol>

<p>Each party shall, and shall procure that its Representative shall, nominate a suitably qualified and senior officer or employee to act as the sole point of contact for the purposes of this Agreement, and all dealings and communications relating to the Purpose shall take place between those people only.</p>

<ol>
	<li>Prohibition on reverse engineering</li>
</ol>

<p>The Recipient shall not adapt, decompile, disassemble or otherwise reverse engineer any software or other product provided by the Disclosing Party which constitutes, embodies or which represents Confidential Information, except in connection with the Purpose or as may otherwise be permitted by applicable law.</p>

<ol>
	<li>Liability for Representatives</li>
</ol>

<p>The Recipient shall procure that its Representatives comply with the requirements of this Agreement in relation to Confidential Information as it applies to the Recipient on the basis that all the Confidential Information in the possession, custody or control of the Representative is deemed to be in the possession, custody or control of the Recipient.</p>

<ol>
	<li>data protection</li>
</ol>

<p>To the extent that any information provided by one party to the other includes personal data (as defined in the Data Protection Act 1998), the latter shall process (as defined in the Data Protection Act 1998) the personal data received in accordance with the Data Protection Act 1998.</p>

<ol>
	<li>relief</li>
</ol>

<p>Each party acknowledges that Confidential Information is valuable and that damages might not be an adequate remedy for any breach of this Agreement, and accordingly a party or its Affiliates will be entitled, without proof of special damage, to an injunction and other equitable relief for any actual or threatened breach of this Agreement.</p>

<ol>
	<li>audit</li>
	<li>Appointment of auditors</li>
</ol>

<p>The Disclosing Party is entitled from time to time during the term of this Agreement and for up to twelve (12) months thereafter on reasonable notice to require the Recipient to permit or procure permission for a duly authorised employee or representative, a competent authority, or an external auditor of the Disclosing Party (an &ldquo;Auditor&rdquo;), to audit any records, systems and procedures (whether current or past) to:</p>

<ul>
	<li>
	<ul>
		<li>
		<ol>
			<li>assess the compliance of the Recipient with this Agreement; and</li>
			<li>enable the Disclosing Party to carry out any right or duty conferred or imposed by applicable law or regulation or to comply with the requirement of a competent authority,</li>
		</ol>
		</li>
	</ul>
	</li>
</ul>

<p>and the Recipient shall take all remedial action identified by the audit.</p>

<ol>
	<li>Access for the purposes of the audit</li>
</ol>

<p>The Recipient shall for the purpose of the audit provide or procure access to the records, systems, procedures and staff as may be reasonably necessary or desirable in connection with the audit, and shall permit the Auditor to take copies of relevant documents and data.</p>

<ol>
	<li>WARRANTIES</li>
	<li>Mutual warranties</li>
</ol>

<p>Each party represents, warrants and undertakes that:</p>

<ul>
	<li>
	<ul>
		<li>
		<ol>
			<li>it has full power and authority to enter into and perform its obligations under this Agreement; and</li>
			<li>there are no existing agreements or arrangements with third parties, the terms of which prevent it from entering into this Agreement or which would or may reasonably be expected to impede the substantial performance of its obligations under this Agreement, and that during the term of this Agreement it will not enter into an agreement or arrangement which will or may reasonably be expected to have that effect.</li>
		</ol>
		</li>
	</ul>
	</li>
</ul>

<ol>
	<li>Exclusion of implied terms</li>
</ol>

<p>All warranties, conditions or terms not set out in this Agreement and which would otherwise be implied or incorporated into this Agreement by statute, common law or otherwise (other than as to the title to goods) are hereby excluded except to the extent they may not be excluded or limited by law.</p>

<ol>
	<li>indemnity</li>
</ol>

<p>The Recipient shall fully and promptly indemnify the Disclosing Party from and against all loss, damage, cost and expense resulting from any breach of this Agreement.</p>

<ol>
	<li>rights of third parties</li>
	<li>General</li>
</ol>

<p>Except as provided in this Agreement, this Agreement does not create, confer or purport to confer any benefit or right enforceable by any person not a party to it.</p>

<ol>
	<li>Affiliates
	<ul>
		<li>
		<ol>
			<li>The Disclosing Party has concluded this Agreement as principal on its own behalf and for the benefit of its Affiliates.</li>
			<li>The Recipient shall indemnify the Disclosing Party in respect of an amount equal to all loss, damage, cost and expense incurred or sustained by any Affiliate of the Disclosing Party which:
			<ol>
				<li>arise by reason of any breach of this Agreement by the Recipient; or</li>
				<li>is the subject of an indemnity given by the Recipient in this Agreement,</li>
			</ol>
			</li>
		</ol>
		</li>
	</ul>
	</li>
</ol>

<p>provided in each case that the loss, damage, cost and expense would have been recoverable by the Affiliate in question had it been a party to this Agreement and assuming that all obligations, liabilities and indemnities of the Recipient under this Agreement are also owed to, or incurred in relation to, the Affiliate in question.</p>

<ul>
	<li>
	<ul>
		<li>
		<ol>
			<li>An Affiliate of the Disclosing Party may in its own right enforce the provisions of this Agreement in accordance with the Contracts (Rights of Third Parties Act) 1999, except that the parties may rescind or vary this Agreement without the consent of any Affiliate of the Disclosing Party.</li>
			<li>In no circumstances shall the Recipient be liable both to the Disclosing Party and an Affiliate of the Disclosing Party in respect of the same loss, damage, cost or expense incurred under this Agreement.</li>
		</ol>
		</li>
	</ul>
	</li>
</ul>

<ol>
	<li>general</li>
	<li>Entire Agreement and amendments
	<ul>
		<li>
		<ol>
			<li>This Agreement constitutes the entire agreement between the parties relating to its subject matter, and supersedes all representations, including all pre-contract misrepresentations and misstatements negligently or innocently made, agreements, negotiations or understandings between the parties, except that this Clause 31.1.1 does not affect the liability of either party for any fraudulent misrepresentation.</li>
			<li>Each of the parties represents, warrants and undertakes that:
			<ol>
				<li>in entering into the Agreement, the party does not rely on any statement, representation, warranty or understanding (whether negligently or innocently made) of any person (whether party to the Agreement or not) other than as expressly set out in this Agreement; and</li>
				<li>it shall not claim any remedy in respect of statements, representations, warranties or understandings made or repeated in this Agreement or in relation to this Agreement, other than breach of contract, and which shall be to the exclusion of any other remedy in respect of such statements, representations, warranties or understandings upon which it may have relied in entering into this Agreement, whether for misrepresentation or otherwise.</li>
			</ol>
			</li>
			<li>An amendment to this Agreement is ineffective unless it is in writing, expressly purports to amend this Agreement and is executed by both parties.</li>
		</ol>
		</li>
	</ul>
	</li>
	<li>Remedies are cumulative</li>
</ol>

<p>The rights and remedies provided by this Agreement are cumulative and (unless otherwise provided in this Agreement) are not exclusive of any rights or remedies provided by law or in this Agreement.</p>

<ol>
	<li>Further assurance</li>
</ol>

<p>Each party shall at the request and cost <span style="background-color:yellow">of the other </span>execute all deeds and other documents, and do all things that the other may require (acting reasonably) in order to give effect to the terms of this Agreement.</p>

<ol>
	<li>Notices
	<ul>
		<li>
		<ol>
			<li>Any notice to be given under this Agreement shall be in writing and shall either be delivered by hand or sent by first class pre-paid post (or in the case of overseas post, by airmail) or facsimile transmission. Delivery by courier shall be regarded as delivery by hand.</li>
			<li>Notices shall be sent to the address of the relevant party referred to in this Agreement or the facsimile number set out below or to such other address or facsimile number as may previously have been communicated to the other party in accordance with this Clause 34 (Notices). Each notice shall be marked for the attention of the addressee provided in this Agreement and in default of provision as follows:</li>
		</ol>
		</li>
	</ul>
	</li>
</ol>

<table>
	<thead>
		<tr>
			<th>
			<p>Name of Party</p>
			</th>
			<th>
			<p>Addressee for Notice</p>
			</th>
			<th>
			<p>Address for Notice</p>
			</th>
			<th>
			<p>Facsimile Number (if applicable)</p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>
			<p>None</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>
			<p>None</p>
			</td>
		</tr>
	</tbody>
</table>

<ul>
	<li>
	<ul>
		<li>
		<ol>
			<li>A notice shall be deemed to have been served:
			<ol>
				<li>if delivered by hand at the address referred to in Clause 34.1.2 at the time of delivery;</li>
				<li>if sent by first class pre-paid post to the address provided for by&nbsp;Clause 34.1.2, at the expiration of two (2) Business Days after the time of posting; and</li>
				<li>if sent by facsimile to the number provided for by this Clause 34.1.2, at the time of completion of transmission by the sender.</li>
			</ol>
			</li>
			<li>If a notice would otherwise be deemed to have been delivered outside working hours (being 9.00 am to 5.00 pm) on a Business Day under the preceding provisions of this Clause 34 (Notices), it shall be deemed to have been delivered at the opening of such normal working hours on the next Business Day.</li>
			<li>In proving service of the notice, it shall be sufficient to show that delivery by hand was made or that the envelope containing the notice was properly addressed and posted as a first class pre-paid letter or that the facsimile was despatched and a confirmatory transmission report received.</li>
			<li>A party may notify the other of a change to its name, relevant person, address or facsimile number for the purposes of this Clause 34 (Notices) provided that such notification shall only be effective on:
			<ol>
				<li>the date specified in the notification as the date on which the change is to take place; or</li>
				<li>if no date is specified or the date specified is less than five (5) Business Days after the date on which notice is deemed to have been served, the date falling five (5) Business Days after notice of any such change is deemed to have been given.</li>
			</ol>
			</li>
			<li>For the avoidance of doubt, the parties agree that the provisions of this Clause 34 (Notices) shall not apply in relation to the service of any claim form, application notice, order, judgment or other document relating to or in connection with any proceedings.</li>
		</ol>
		</li>
	</ul>
	</li>
</ul>

<ol>
	<li>Waiver</li>
</ol>

<p>Any failure or neglect by either party to enforce any of the provisions of this Agreement shall not be construed nor deemed to be a waiver of that party&rsquo;s rights and does not affect the validity of the whole or part of this Agreement nor prejudice that party&rsquo;s rights; any waiver by either party of its rights under this Agreement does not operate as a waiver in respect of any subsequent breach.</p>

<ol>
	<li>Invalidity</li>
</ol>

<p>If any provision of this Agreement is held to be illegal, invalid or unenforceable in whole or part, that provision shall to that extent be deemed not to form part of this Agreement and the legality, validity and enforceability of the remainder of this Agreement shall be unaffected.</p>

<ol>
	<li>Assignment and sub-contracting</li>
</ol>

<p>Neither party shall without the prior written consent <span style="background-color:yellow">of the other </span>assign<span style="background-color:yellow">, transfer, charge, dispose of,</span> deal with or subcontract its rights or obligations under this Agreement.</p>

<ol>
	<li>No partnership</li>
</ol>

<p>Nothing in this Agreement shall or shall be deemed to create a partnership between the parties.</p>

<ol>
	<li>Governing law</li>
</ol>

<p>This Agreement shall be governed by and construed in accordance with English law.</p>

<ol>
	<li>JURISDICTION</li>
</ol>

<p>The courts of England and Wales shall have exclusive jurisdiction to hear and determine any suit, action or proceedings, and to settle any disputes, which may arise out of or in connection with this Agreement and, for such purposes, each party irrevocably submits to the exclusive jurisdiction of the courts of England and Wales. Each party irrevocably waives any objection which it might at any time have to the courts referred to in this Clause 13 (Jurisdiction) being nominated as a forum to hear, determine and settle any proceedings and agrees not to claim that any such courts are not a convenient or appropriate forum.</p>

<ol>
	<li>Counterparts</li>
</ol>

<p>This Agreement may be executed in any number of counterparts, all of which constitute one single agreement between the parties.</p>

<p>AS WITNESS, the duly authorised representatives of the parties have executed this Agreement after the Schedules.</p>

<p>schedule I</p>

<p>(Interpretation)</p>

<ol>
	<li>Defintions</li>
</ol>

<p>In this Agreement, unless the context otherwise requires, the following definitions apply:</p>

<table>
	<tbody>
		<tr>
			<td>
			<p>&ldquo;Affiliate&rdquo;</p>
			</td>
			<td>
			<p>in relation to either party, any person who controls, is controlled by, or is under common control with, that party, and &ldquo;control&rdquo; means the beneficial ownership of more than fifty per cent (50%) of the issued share capital of, or the legal power to direct or cause the direction of, the person in question (or its holding company as the case may be), and &ldquo;controlled&rdquo; shall be construed accordingly;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&ldquo;Agreement&rdquo;</p>
			</td>
			<td>
			<p>the body of this Agreement and the Schedules, as may be amended from time to time;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&ldquo;Business Day&rdquo;</p>
			</td>
			<td>
			<p>Monday to Friday excluding public and bank holidays in England and Wales;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&ldquo;Commencement Date&rdquo;</p>
			</td>
			<td>
			<p>the date of this Agreement;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&ldquo;Confidential Information&rdquo;</p>
			</td>
			<td>
			<p>has the meaning given in Clause 6 (Confidential Information);</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&ldquo;Disclosing Party&rdquo;</p>
			</td>
			<td>
			<p>in relation to Confidential Information, the party whose Confidential Information is disclosed to a person, or whose Confidential Information is otherwise received by a person;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&ldquo;Purpose&rdquo;</p>
			</td>
			<td>
			<p>to evaulate whether to enter into an agreement to exploit the information</p>

			<p>;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&ldquo;Recipient&rdquo;</p>
			</td>
			<td>
			<p>in relation to Confidential Information, the party in receipt of Confidential Information, whether directly or via any third party who receives it on behalf of that party;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&ldquo;Representative&rdquo;</p>
			</td>
			<td>
			<p>in relation to a party, an adviser or other representative approved by that party in relation to the Purpose.</p>
			</td>
		</tr>
	</tbody>
</table>

<ol>
	<li>References
	<ol>
		<li>In this Agreement:
		<ol>
			<li>references to:
			<ol>
				<li>&ldquo;Clauses&rdquo; and the &ldquo;Schedules&rdquo; are to clauses of, and the schedules to, this Agreement;</li>
				<li>a statutory provision includes a reference to any modification, consolidation or re-enactment of the provision from time to time in force and all subordinate instruments, orders or regulations made under it except that, as between the parties, no modification, consolidation or re-enactment shall apply for the purposes of this Agreement to the extent that it would impose any new or extended obligation, liability or restriction on, or otherwise adversely affect the rights of, a party;</li>
				<li>a party includes, where appropriate, persons deriving title under it;</li>
				<li>&ldquo;subsidiary&rdquo; and &ldquo;holding company&rdquo; shall have the meanings given to them by section 1159 of the Companies Act 2006;</li>
				<li>&ldquo;includes&rdquo; or &ldquo;including&rdquo; shall be construed without limitation to the generality of the preceding words;</li>
				<li>&ldquo;indemnify&rdquo; means on demand to indemnify and keep indemnified, and hold harmless, the party to be indemnified on an after tax basis;</li>
				<li>any document (including this Agreement) or a provision of it shall be construed as a reference to that document or provision as amended from time to time by agreement between the parties in accordance with this Agreement; and</li>
				<li>&ldquo;writing&rdquo; includes any method of reproducing words in a legible and non-transitory form, excluding e-mail;</li>
			</ol>
			</li>
			<li>the singular includes the plural and vice versa; and</li>
			<li>the headings are for convenience only and shall not affect the interpretation of this Agreement.</li>
		</ol>
		</li>
		<li>Each obligation of a party under this Agreement, and any reference to an act or omission of a party, unless the context otherwise requires, includes (in the case of the former) an obligation to procure that the obligation (where necessary) is performed by an Affiliate of the party, and (in the case of the latter) any act or omission of an Affiliate of that party.</li>
	</ol>
	</li>
</ol>

<p>schedule D</p>

<p>(Description of Information)</p>

<p>a specification of a transfer agency system</p>

<p>schedule T</p>

<p>(Third Party Undertaking)</p>

<p>undertake to keep confidential the information I receive</p>

<table>
	<tbody>
		<tr>
			<td>
			<p>SIGNED by</p>
			</td>
			<td>
			<p>)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>duly authorised for and on behalf of</p>
			</td>
			<td>
			<p>)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<p>)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td>
			<p>SIGNED by</p>
			</td>
			<td>
			<p>)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>duly authorised for and on behalf of</p>
			</td>
			<td>
			<p>)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<p>)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>
