<!-- MAIN CONTENT -->
<div id="content" ng-controller="DashboardCtrl">

	<div class="row">
		<big-breadcrumbs items="['Dashboard', 'My Dashboard']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
		<!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
	</div>
	<h3>Dashboard</h3>
</div>
<!-- END MAIN CONTENT -->