<div class="modal-body custom-smart-form-modal">
	<form id="{{idName}}" class="smart-form" novalidate="novalidate">		
		<fieldset>
			<legend>{{title}}</legend>
    	</fieldset>
        <footer>
            <button class="btn btn-default" ng-click="closeModal()">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </footer>
	</form>
</div>
