<div class="modal-body custom-smart-form-modal" >
    <form class="smart-form" >
        <header>{{title}}</header>
        <fieldset>
            <h5>{{description}}</h5>
        </fieldset>
        <footer>
            <button class="btn btn-danger" ng-click="submit();">Yes</button>
            <button class="btn btn-default" ng-click="closeModal();">No</button>          
        </footer>
    </form>
</div>
