<header id="header" class="animated fadeInDown">

    <div id="logo-group">
        <!--<span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin"> </span>-->
    </div>

    <!--<span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a ui-sref="register"
        class="btn btn-danger">Create account</a> </span>-->

</header>
<div id="main" role="main" class="animated fadeInDown">

    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <!--<h1 class="txt-color-red login-header-big">SmartAdmin</h1>
                <div class="hero">

                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
                        <div class="login-app-icons">
                            <a href-void class="btn btn-danger btn-sm">Frontend Template</a>
                            <a href-void class="btn btn-danger btn-sm">Find out more</a>
                        </div>
                    </div>

                    <img src="styles/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Not just your average template!</h5>
                        <p>
                            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
                        </p>
                    </div>
                </div>-->

            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form id="login-form" name="forgotPasswordForm" novalidate class="smart-form client-form">
                        <div ng-show="valid" class="alert alert-success">
                            <strong>Success!</strong> Indicates a successful or positive action.
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                        <div ng-show="invalid" class="alert alert-danger">
                            <strong>Error ! </strong> Please Eneter all fields.
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                        <header>
                            Forgot Password
                        </header>

                        <fieldset>

                            <section>
                                <label class="label">Enter your email address</label>
                                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                          <div class="form-group" ng-class="{ 'has-error' : forgotPasswordForm.email.$invalid && (forgotPasswordForm.email.$dirty || submitted)}">
                                   <input type="text" id="sender-email" ng-model="forgotPassword.email" class="form-control" name="email" placeholder="Email"
                                   ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                          </div>
                                  <p class="validation-error" ng-show="forgotPasswordForm.email.$error.required && (forgotPasswordForm.email.$dirty || submitted)"
                                   class="help-block">Email is Required.</p>
                                 <p class="validation-error" ng-show="forgotPasswordForm.email.$error.pattern && (forgotPasswordForm.email.$dirty || submitted)"
                                  class="help-block">Please Enter Valid Email Id.</p>
                            </section>
                            <!--<section>
                                <span class="timeline-seperator text-center text-primary"> <span class="font-sm">OR</span>
                            </section>-->
                            <!--<section>
                                <label class="label">Your Username</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="username">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Enter your username</b> </label>
                                <div class="note">
                                    <a ui-sref="login">I remembered my password!</a>
                                </div>
                            </section>-->

                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary" ng-click="forgot(forgotPassword)" ng-disabled="!forgotPasswordForm.$valid">
                                <i class="fa fa-refresh"></i> Reset Password
                            </button>
                        </footer>
                    </form>

                </div>

                <!--<h5 class="text-center"> - Or sign in using -</h5>

                <ul class="list-inline text-center">
                    <li>
                        <a href-void class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>-->

            </div>
        </div>
    </div>

</div>
</div>