<header id="header" class="animated fadeInDown">

    <div id="logo-group">
        <!--<span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin"> </span>-->
        <h1 class="txt-color-red login-header-big"><strong>Bnl</strong>Myanmar</h1>

    </div>

    <!--<span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a
           ui-sref="register" class="btn btn-danger">Create account</a> </span>-->

</header>
<div id="main" role="main" class="animated fadeInDown">

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <!--<h1 class="txt-color-red login-header-big"><strong>Bnl</strong>Myanmar</h1>-->

                <!--<div class="hero">
                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin,
                            everywhere you go!</h4>

                        <div class="login-app-icons">
                            <a ui-sref="app.dashboard" class="btn btn-danger btn-sm">Frontend Template</a>
                            <a href-void class="btn btn-danger btn-sm">Find out more</a>
                        </div>
                    </div>
                    <img src="styles/img/demo/iphoneview.png" class="pull-right display-image" alt style="width:210px">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>

                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Not just your average template!</h5>

                        <p>
                            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                            nobis est eligendi voluptatem accusantium!
                        </p>
                    </div>
                </div>-->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form class="smart-form client-form" role="form" name="loginForm" data-smart-validate-form>
                        <header>
                            Sign In
                        </header>
                        <fieldset>
                            <section>
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                 <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && (loginForm.email.$dirty || submitted)}">
                  <input type="email" id="sender-email" class="form-control" ng-model="LoginData.email" name="email" placeholder="Email" ng-required="true"
                    ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                                 </div>
          <p class="validation-error" ng-show="loginForm.email.$error.required && (loginForm.email.$dirty || submitted)" class="help-block">Email is Required.</p>
           <p class="validation-error" ng-show="loginForm.email.$error.pattern && (loginForm.email.$dirty || submitted)" class="help-block">Please Enter Valid Email Id.</p>
                </section>
                <section>
                    <label class="label">Password</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
               <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && (loginForm.password.$dirty || submitted)}">
                        <input type="password" class="form-control" ng-model="LoginData.password" name="password" placeholder="Password" ng-minlength="6"
                         ng-maxlength="20" required>
               </div>
                 <p class="validation-error" ng-show="loginForm.password.$error.required && (loginForm.password.$dirty || submitted)" class="help-block">Your password is required.</p>
                 <div class="note">
                 <a ui-sref="forgotPassword">Forgot password?</a>
                </div>
                </section>
               <section>
                    <label class="checkbox">
                        <input type="checkbox" name="remember" checked>
                        <i></i>Stay signed in</label>
                </section>
              </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary" ng-click="submitForm(LoginData);" ng-disabled="!loginForm.$valid">
                                Sign in
                            </button>
                        </footer>
                    </form>
                </div>
                <!--<h5 class="text-center"> - Or sign in using -</h5>
                <ul class="list-inline text-center">
                    <li>
                        <a href-void class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
</div>