<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Dashboard', ' ']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
    </div>
</div>