<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Admin']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
    </div>
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div ng-show="success">
                    <div class="alert alert-success fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-check"></i>
                        <strong>Success</strong> {{result}}
                    </div>
                </div>
                <div ng-show="failed">
                    <div class="alert alert-danger fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-times"></i>
                        <strong>Error!</strong> {{result}}
                    </div>
                </div>
                <div data-jarvis-widget id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false"
                    data-widget-color="darken">
                    <header>
                        <span class="widget-icon"></span>
                        <h2>Admin Management</h2>

                        <div class="widget-toolbar margin-right-10 widget-width">
                            <span class="widget-icon margin-right-10 addbutton" ng-click="adminAction='Add';addAdmin();"> <i class="fa fa-plus fa-lg"></i> Add </span>
                            <span class="widget-icon margin-right-10 editbutton" ng-click="adminAction='Edit';editAdmin();"> <i class="fa fa-pencil-square-o"></i> Edit </span>
                            <span class="widget-icon margin-right-10 deletebutton" ng-click="deleteAdmin();"> <i class="fa fa-trash-o fa-lg"></i> Delete </span>
                        </div>

                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable='ng' dt-options="standardOptions" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th> First Name</th>
                                        <th> Email</th>
                                        <th> Role</th>
                                        <th> Status</th>
                                        <th> Created On</th>
                                        <th> Resend Link</th>
                                        <th> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>Shiv</td>
                                    <td>shivboragalli@yahoo.com</td>
                                    <td>Super Admin</td>
                                    <td><span class="btn btn-success btn-sm">Active</span></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <tr ng-repeat=" admin in admins" ng-click="setAdmin(admin,$index)" ng-class="{selected: currentAdminIndex === $index}">
                                        <td>{{admin.first_name}}</td>
                                        <td>{{admin.email}}</td>
                                        <td>{{admin.role}}</td>
                                        <td ng-if="admin.status == 'active'"><span class="btn btn-success btn-sm" ng-click="changeStatus(admin)">Active</span></td>
                                        <td ng-if="admin.status == 'pending'"><span class="btn btn-primary btn-sm" ng-click="changeStatus(admin)">In Active</span></td>
                                        <td>{{admin.create_date}}</td>
                                        <td><span class="btn btn-primary btn-sm" ng-click="sendEmail(admin)">Send</span></td>
                                        <td><span class="btn btn-primary btn-sm" ng-click=editAdmin();>View</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="modal fade" id="addAdminPopup" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog edp-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">{{adminAction}} Admin</h4>
                    </div>
                    <div class="modal-body">
                        <form class="smart-form ng-pristine ng-valid" name="adminForm" novalidate>
                            <fieldset>
                                <div>
                                    <div class="form-group has-feedback">
                                        <div class="form-group" ng-class="{ 'has-error' : adminForm.first_name.$invalid && (adminForm.first_name.$dirty || submitted) }">
                                            <label class="control-label col-sm-3 col-md-3">{{getWord('First Name')}} </label>
                                            <section class="col-sm-8 col-md-8">
                                                <input type="text" class="form-control" name="first_name" ng-model="newAdmin.first_name" required>
                                                <div>
                                                    <p class="validation-error" ng-show="adminForm.first_name.$error.required && (adminForm.first_name.$dirty || submitted)"
                                                        class="help-block">First Name is Required.</p>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{ 'has-error' : adminForm.last_name.$invalid && (adminForm.last_name.$dirty || submitted) }">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Last Name')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="text" class="form-control" name="last_name" ng-model="newAdmin.last_name" required>
                                            <p class="validation-error" ng-show="adminForm.last_name.$error.required && (adminForm.last_name.$dirty || submitted)" class="help-block">Last Name is Required.</p>
                                        </section>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{ 'has-error' : adminForm.email.$invalid && (adminForm.email.$dirty || submitted)}">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Email')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="email" class="form-control" name="email" ng-model="newAdmin.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                            <p class="validation-error" ng-show="adminForm.email.$error.required && (adminForm.email.$dirty || submitted)" class="help-block">Email is Required.</p>
                                            <p class="validation-error" ng-show="adminForm.email.$error.pattern && (adminForm.email.$dirty || submitted)" class="help-block">Please Enter Valid Email Id.</p>
                                        </section>
                                    </div>
                                </div>
                                <!--<div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{ 'has-error' : adminForm.password.$invalid && (adminForm.password.$dirty || submitted)}">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Password')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="password" class="form-control" name="password" ng-model="newAdmin.password" ng-minlength="8" ng-maxlength="20"
                                                ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ng-required="true">-->
                                            <!--<p class="validation-error" ng-show="adminForm.password.$error.required && (adminForm.password.$dirty || submitted)" class="help-block">Your password is required.</p>
                                            <p class="validation-error" ng-show="adminForm.password.$error.minlength && (adminForm.password.$dirty || submitted)" class="help-block">Password must be between 8 and 20 characters.</p>-->
                                            <!--<p class="validation-error" ng-show="adminForm.password.$error.pattern && (adminForm.password.$dirty || submitted)" class="help-block">Must contain minimum 6 characters including 1 Capital letter and one special
                                                character
                                            </p>
                                        </section>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{ 'has-error' : adminForm.passwordConfirm.$invalid && (adminForm.passwordConfirm.$dirty || submitted)}">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Confirrm Password')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="password" class="form-control" name="passwordConfirm" ng-model="newAdmin.passwordConfirm" ng-required="true">
                                            <p class="validation-error" ng-show="adminForm.passwordConfirm.$error.required && (adminForm.passwordConfirm.$dirty || submitted)"
                                                class="help-block">Your password is required.</p>
                                            <p class="validation-error" ng-show="(adminForm.passwordConfirm.$dirty && adminForm.password.$dirty) && (newAdmin.password !=newAdmin.passwordConfirm)"
                                                class="help-block">Your password is not matched</p>
                                        </section>
                                    </div>
                                </div>-->
                                <div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{ 'has-error' : adminForm.office_number.$invalid && (adminForm.office_number.$dirty || submitted) }">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Office Number')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="number" class="form-control" name="office_number" ng-model="newAdmin.office_number" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/"
                                                ng-minlength="10" ng-maxlength="15" ng-required="true">
                                            <!--<p class="validation-error" ng-show="adminForm.office_number.$error.required && (adminForm.office_number.$dirty || submitted)"
                                                class="help-block">Enter a valid Office phone number</p>
                                            <p class="validation-error" ng-show="adminForm.office_number.$error.minlength && (adminForm.office_number.$dirty || submitted)"
                                                class="help-block">Please Enter 10 digit office phone number.</p>
                                            <p class="validation-error" ng-show="adminForm.office_number.$error.maxlength && (adminForm.office_number.$dirty || submitted)"
                                                class="help-block">Please Enter 10 digit office phone number.</p>-->
                                            <p class="validation-error" ng-show="adminForm.office_number.$error.pattern" class="help-block">Please Enter 10 digit office phone number only.</p>
                                        </section>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <div class="form-group" ng-class="{'has-error' : adminForm.mobile_number.$invalid && (adminForm.mobile_number.$dirty || submitted) }">
                                        <label class="control-label col-sm-3 col-md-3">{{getWord('Mobile No')}} </label>
                                        <section class="col-sm-8 col-md-8">
                                            <input type="number" class="form-control" name="mobile_number" ng-model="newAdmin.mobile_number" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/"
                                                ng-minlength="10" ng-maxlength="15" ng-required="true">
                                            <!--<p class="validation-error" ng-show="adminForm.mobile_number.$error.required && (adminForm.mobile_number.$dirty || submitted)"
                                                class="help-block">Enter a valid Mobile phone number</p>
                                            <p class="validation-error" ng-show="adminForm.mobile_number.$error.minlength && (adminForm.mobile_number.$dirty || submitted)"
                                                class="help-block">Please Enter 10 digit Mobile number.</p>
                                            <p class="validation-error" ng-show="adminForm.mobile_number.$error.maxlength && (adminForm.mobile_number.$dirty || submitted)"
                                                class="help-block">Please Enter 10 digit Mobile number.</p>-->
                                            <p class="validation-error" ng-show="adminForm.mobile_number.$error.pattern" class="help-block">Please Enter 10 digit Mobile number only.</p>
                                        </section>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3">{{getWord('Select Role')}} </label>
                                    <section class="col-sm-9 col-md-9">
                                        <select class="form-control" ng-model="newAdmin.role_id" name="role_id" ng-required="true">
                                         <option selected value="" selected>---Please select---</option>
										<option ng-model="newAdmin.role" ng-selected="newAdmin.role==role.role"  ng-repeat="role in roles"
											value="{{role.id}}">{{role.role}}</option>
										</select>
                                        <!--<select class="form-control" ng-options="roles as item.role for item in roles track by role.id" ng-init="init()" ng-model="newAdmin.selected"></select>            -->
                                    </section>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="submit(newAdmin);" ng-disabled="!adminForm.$valid">Submit</button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="cancel();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAdminPopup" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog edp-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">{{adminAction}} Admin</h4>
                    </div>
                    <div class="modal-body">
                        <form class="smart-form ng-pristine ng-valid">
                            <!--<input type="hidden" ng-model= {{currentAdmin.id}}>-->
                            <fieldset>
                                <h5>Do you really want to this {{currentAdmin.first_name}} ?</h5>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" ng-click="adminDelete();">Yes</button>
                        <button class="btn btn-default" ng-click="cancel();">No</button> </div>
                </div>
            </div>
        </div>
    </section>
</div>