<html>
<title>Login demo</title>
<body bgcolor="orange">
<form method="POST" action="/topic/nextpage/">{% csrf_token %}
<input type="text" name="username"data-validation="required"  data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)"><br><br><br>
<input type="password" name="password" data-validation="required"  data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)"><br>
<input type="submit" name="submit">
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
  $.validate({
    lang: 'es'
  });
</script>
</body>
</html>
