<html>
<h1>nextpage </h1>
<div class="alert alert-success">{{message}}</div>
<p>Log-out icon on a styled link button:
        <a href="/topic/logout/" class="btn btn-info btn-lg">{% csrf_token %}
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </p>


{{register_obj}}
<table>
<tr>{% csrf_token %}
  <th>id_count</th>
  <th>first_name</th>
  <th>Last_name</th>
  <th>Image</th>
  <th> Delete</th>
</tr>{% csrf_token %}
{% for b in register_obj %}
<tr>
  <td>{{ b.id_count }}</td>
  <td>{{ b.firstname }}</td>
  <td>{{ b.lastname }}</td>
  <td> <img src="/media/{{ b.image}}" width=100 height=100 /><td>
  <td><a href='/topic/delete/{{ b.id_count }}' onclick="return confirm('Are you sure you want to delete this item?');"> <button type="button" class="btn btn-primary">Delete</button></a>
</tr>
{% endfor %}
</table>
<td><a href='/topic/signout' onclick="return confirm('Are you sure you want to delete this item?');"><i class="btn btn-primary" ></i> Logout</a></td>

<head>
    <style>
       #map {
        height: 200px;
        width: 50%;
       }
    </style>
  </head>
  
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    
   
  
</html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC11vnRSR8-hbwoRlNuIiEVCvX5i4yUbSU&callback=initMap">
    </script>
